body {
	background: #eee;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5;
}

.page {
	padding: 2em;
	max-width: 60em;
	margin: 3em auto;
	background: #fff;
}

#app {
	margin: 1em 0;
}

.mdn {
	font-family: Consolas, monospace;
	color: #09c;
	/*font-weight: bold;*/
	/*background: #f0f0f0;*/
	/*display: inline-block;*/
	/*padding: 0.1em 0.4em;*/
	text-decoration: none;
	border-bottom: 1px dotted #aaa;
}

.anno {
	font-size: 0.7em;
	font-weight: normal;
	color: #555;
	display: inline-block;
	margin: 0 1em;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table table {
	font-size: 0.9em;
}

tr {
	border-bottom: 1px solid #eee;
}

table table tr {
	border: none;
}

th, td {
	text-align: left;
	vertical-align: top;
	padding: 0.5em;
}

.clipboard-section {
	margin: 2em 0;
	padding-left: 2em;
}

td img {
	max-width: 100%;
}

.intro-msg {
	font-size: 2em;
	color: #999;
	text-align: center;
	border: 1px dotted #ccc;
	padding: 1em;
}